
   


            {% block menu %}
<div class="d-none d-lg-block">
    <div class="row mt-4 ml-1 mb-4">
        <h5 class="font-weight-normal color-general">Menu</h5>
    </div>
    <div class="row ml-1 d-block mb-5">
        <div>
            <h6 class="font-weight-bold text-secondary">Etudiant</h6>
        </div>
        <div class="d-inline d-block mb-3">

            <img src="{{ asset('source/icones/student.png') }}" alt="" class="icone-menu mr-1" height="40px" id="icone-add-etudiant">
            <span class="color-general font-weight-bold"><a class="nav-link" href="{{path('addetudiant')}}" >Ajouter un étudiant</a></span>
        </div>
       
        <div class="d-inline d-block mb-3">
            <img src="{{ asset('source/icones/list.png') }}" alt="" height="40px" class="icone-menu mr-1" id="icone-add-etudiant">
            <span class="text-secondary"><a class="nav-link" href="#">Liste étudiants</a></span>
           
        </div>
    </div>
    <div class="row ml-1 d-block mb-3">
        <div>
            <h6 class="font-weight-bold text-secondary">Chambres</h6>
        </div>
        <div class="d-inline d-block mb-3">
            <img src=" {{ asset('source/icones/bed.png') }}" alt="" height="40px" class="icone-menu mr-1" id="icone-add-etudiant">
            <span class="text-secondary"><a class="nav-link" href="{{path('addchambre')}}">Ajouter une chambre</a></span>
        </div>
         
        <div class="d-inline d-block mb-3">
            <img src="{{ asset('source/icones/list.png') }}" alt="" height="40px" class="icone-menu mr-1" id="icone-add-etudiant">
            <span class="text-secondary"><a class="nav-link" href="{{path('chambre')}}">Liste chambres</a></span>
        </div>
    </div>
    <div class="row"></div>
</div>
            {% endblock %}
                   
 