{% extends 'base.html.twig' %}

{% block title %}Hello ChambreController!{% endblock %}

{% block body %}
<div class="row">
<div class="col-lg-3">
{{ include('layout/menu.html.twig') }}
</div>
<div class="col-lg-9">
<table class="table">
  <thead class="bg-dark text-light">
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Batiment</th>
      <th scope="col">Type chambre</th>
      <th scope="col">Numero</th>
      <th scope="col">Supprimer</th>
      <th scope="col">Modifier</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td id="idchambre">{{ chambres.id }}</td>
      <td >{{ chambres.idBatiment}}</td>
      <td >{{ chambres.idTypeChambre }}</td>
      <td >{{ chambres.numero}}</td>
      <td><a href="{{ path('deletechambre')}}"><button type="button" name="" id="delete" class="btn btn-danger" btn-lg btn-block><span class="fa fa-archive"></button></a></td>
      <td><a href="{{ path('chambre_edit', {'id': chambres.id}) }}"><button type="button" name="" id="" class="btn btn-primary" btn-lg btn-block><span class="fas fa-edit"></button></a></td>
     
    </tr>
  </tbody>
</table>
</div>
</div>

{% endblock %}
{% block javascripts %}
          {{ parent() }}
    {{ encore_entry_script_tags('delete') }}
    
        {% endblock %}
        