{% extends 'base.html.twig' %}
 {% block stylesheets %}
         <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
         <link rel="stylesheet" href=""{{ asset('css/dataTables.bootstrap.min.css') }}">
        {% endblock %}
{% block title %}Hello ChambreController!{% endblock %}

{% block body %}

<div class="row">
<div class="col-lg-3">
{{ include('layout/menu.html.twig') }}
</div>
<div class="col-lg-9">
<h1>Lise des chambres</h1>
<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Batiment</th>
      <th scope="col">Type chambre</th>
      <th scope="col">Numero</th> 
      <th scope="col">Action</th> 
    </tr>
  </thead>
  <tbody>
{% for chambres in chambre %}
  
    <tr>
      <td>{{ chambres.id }}</td>
      <td>{{ chambres.idBatiment}}</td>
      <td>{{ chambres.idTypeChambre }}</td>
      <td>{{ chambres.numero}}</td>
      <td><a href="{{ path('chambres', {'id': chambres.id}) }}"><button type="button" name="" id="" class="btn btn-success" btn-lg btn-block>Voir</button></a></td>
      {# <td><a href="{{ path('chambremodifier', {'id': chambres.id}) }}"><button type="button" name="" id="" class="btn btn-success" btn-lg btn-block>Modifier</button></a></td> #}
    </tr>
  
{% endfor %}
</tbody>
</table>
</div>
</div>

{% endblock %}


